header {
	text-align: center;
}
.top-container {
	max-width: 100%;
	height: 150px;
	background-color: #1C8A43;
}

#logo {
	border-radius: 5px;
}

body {
	/* background-image: url("images/background.jpg"); */
	background-color: lightgray;
}

h3 {
	border-radius: 25px;
	background: white;
	padding: 20px;
	text-align: center;
	color: #1C8A43;
	font-size: 30px;
	font-weight: bold;
}

nav {
	background-color: #1C8A43;
	clear: both;
}
nav li {
	font-size: 1.5em;
	padding: 0px 5px;
	display: inline-block;
	list-style-type: none;
}
nav a {
	padding: .5em .2em;
	line-height: 2em;
	text-decoration: none;
	color: white;
}

nav a:hover {
	background-color: #fff;
	color: #1C8A43;
}

main {
	padding: 20px;
	/* display: flex; */
	justify-content: space-between;
}

#family {
	max-width: 100% !important;
	height: auto !important;
	border-radius: 8px;
}

@media only screen and (max-width: 600px) {
	.homePage {
	  display: block;
	}
  }


.homePage {
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.info {
	background-color: #1C8A43;
	text-decoration: none;
	font-size: 1.5em;
	color: white;
	width: 48%;
	padding: 20px;
	/* display: flex; */
	justify-content: space-between;
}

fieldset {
	border-radius: 15px;
	background: #1C8A43;
	color: white;
}

.getBtn {
	border-radius: 10px;
	padding: 10px;
	color: #1C8A43;
}

footer {
	text-align: center;
	background-color: #1C8A43;
	color: white;
}

.links {
	background-color: #1C8A43;
	clear: both;
}

.links li {
	font-size: 1em;
	padding: 0px 5px;
	display: inline-block;
	list-style-type: none;
}
.links a {
	padding: .5em .2em;
	line-height: 2em;
	text-decoration: none;
	color: white;
}

.links a:hover {
	background-color: #fff;
	color: #1C8A43;
}

.column {
	float: left;
	width: 50%;
	padding: 10px;
}

#cookieV {
	padding: 25px;
}

#cookieH {
	padding: 10px;
}

legend {
	background-color: #1C8A43;
	border-radius: 15px;
	border-style: double;
	padding: .5%;
}

#logoutBtn {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	color: #1C8A43;
}