header {
	text-align: center;
}
.top-container {
	max-width: 100%;
	height: 175px;
	background-color: #1C8A43;
}

#logo {
	border-radius: 5px;
	padding: 10px;
}

body {
	/* background-image: url("images/background.jpg"); */
	background-color: #CAE5AF;
}

h3 {
	border-radius: 25px;
	background: #CAE5AF;
	padding: 20px;
	text-align: center;
	color: #1C8A43;
	font-size: 30px;
	font-weight: bold;
}

nav {
	background-color: #1C8A43;
	clear: both;
}
nav li {
	font-size: 1.5em;
	padding: 0px 5px;
	display: inline-block;
	list-style-type: none;
}
nav a {
	padding: .5em .2em;
	line-height: 2em;
	text-decoration: none;
	color: white;
}

nav a:hover {
	background-color: #CAE5AF;
	color: #1C8A43;
}

main {
	padding: 20px;
	/* display: flex; */
	justify-content: space-between;
}

#family {
	max-width: 100% !important;
	height: auto !important;
	border-radius: 8px;
}

@media only screen and (max-width: 600px) {
	.homePage {
	  display: block;
	}
  }


.homePage {
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.info {
	background-color: #1C8A43;
	text-decoration: none;
	font-size: 1.5em;
	color: white;
	width: 48%;
	padding: 20px;
	/* display: flex; */
	justify-content: space-between;
}

fieldset {
	border-radius: 15px;
	background: #1C8A43;
	color: white;
}

.getBtn {
	border-radius: 10px;
	padding: 10px;
	color: #1C8A43;
}

footer {
	text-align: center;
	background-color: #1C8A43;
	color: white;
}

.links {
	background-color: #1C8A43;
	clear: both;
}

.links li {
	font-size: 1em;
	padding: 0px 5px;
	display: inline-block;
	list-style-type: none;
}
.links a {
	padding: .5em .2em;
	line-height: 2em;
	text-decoration: none;
	color: white;
}

.links a:hover {
	background-color: #fff;
	color: #1C8A43;
}

.column {
	float: left;
	width: 50%;
	padding: 10px;
}

#cookieV {
	padding: 25px;
}

#cookieH {
	padding: 10px;
}

legend {
	background-color: #1C8A43;
	border-radius: 15px;
	border-style: double;
	padding: .5%;
}

#logoutBtn {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	color: #1C8A43;
}

/* start slide show */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
  }